name: CI
"on":
  push:
jobs:
  release:
    needs:
      - test-node
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2
      - name: prepare node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.14.0
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: 'true'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
